USE [SQL Tutorial]
GO
/****** Object:  StoredProcedure [dbo].[Temp_Employee]    Script Date: 05-10-2025 21:24:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure

--create procedure TEST as  --go to Programmability>>Stored Procedures
--select * from EmployeeDemographics

--exec TEST

ALTER procedure [dbo].[Temp_Employee] 
@JobTitle nvarchar(100) as
create table #temp_Employee1(
JobTitle varchar(50),
EmployeesPerJob int,
AvgAge int,
AvgSalary int)

insert into #temp_Employee1 
select JobTitle , count(JobTitle), avg(Age), avg(Salary)
from [SQL Tutorial]..EmployeeDemographics dem
join [SQL Tutorial]..EmployeeSalary sal
on dem.EmployeeID = sal.EmployeeID
where JobTitle = @JobTitle
group by JobTitle

select * from #temp_Employee1